<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag "profile" %>
  </head>
  <body>
 <h1 class="heading text-center mt-5">Profile</h1>


<div class="container-fluid mt-5">

  <div class="row">
  <%# strat right side %>
    <div class="col-md-3 mb-4 mt-3">
      <ul class="profile_list d-flex flex-column">
        <li class="my-4"><i class="fa-solid fa-pen"></i><%= link_to 'Edit Profile', edit_user_registration_path,class: 'profile-link' %></li>
        <li class="my-4"><i class="fa-solid fa-user-group"></i><%= link_to 'My Groups', user_groups_path(current_user),class: 'profile-link'%></li>

        <li class="my-4"><i class="fa-sharp fa-solid fa-eye"></i><%= link_to 'My exercises', user_exercises_path(@user),class: 'profile-link'%></li>
        <li class="my-4"><i class="fa-solid fa-paper-plane"></i><%= link_to 'My Submissions', user_submissions_path(@user),class: 'profile-link' %></li>
        <li class="my-4"><i class="fa-solid fa-plus"></i><%= link_to "Create New Exercise", new_exercise_path,class: 'profile-link'%></li>
        <li class="my-4"><i class="fa-solid fa-sign-out"></i><%= link_to 'Sign out', destroy_user_session_path,class: 'profile-link', method: :delete %></li>
      </ul>
    </div>
  <%# end right side %>


<%# start left side %>
   <div class="col-md-8 offset-md-1">
  <div class="info">
    <h5 class="mt-4">BASIC INFO</h5>
  </div>
  <div class="horizontal_line mt-3"></div>

   <div class="my-form" >

    <div class="form-group my-4">
     <%= label_tag "first_name", "FIRST NAME", class: "input-label" %>
    <%= text_field_tag "first_name", @user.first_name, class: "form-control", readonly: true %>
   </div>

    <div class="form-group my-4">
    <%= label_tag "first_name", "LAST NAME", class: "input-label" %>
    <%= text_field_tag "first_name", @user.last_name, class: "form-control", readonly: true %>
    </div>

   <div class="form-group my-4">
    <%= label_tag "email", "EMAIL", class: "input-label" %>
    <%= text_field_tag "email", @user.email, class: "form-control", readonly: true %>
    </div>
</div>
 </div>
</div>
<%# end left side %>

</body>
</html>
