<!DOCTYPE html>
<html>
<head>
    <title>Exercise Editor</title>
      <%= stylesheet_link_tag "exercise" %>
</head>

<body>
<h1 class="heading text-center mt-5">Upload Exercise JSON File</h1>
<div class="container mb-3">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-9 col-sm-12">
      <% if flash[:error] %>
        <div class="alert alert-danger"><%= flash[:error] %></div>
      <% end %>
      <%= form_tag(upload_file_path, { multipart: true, class: "" }) do %>
       <%= file_field_tag 'file', class: 'btn', style: 'display: none;', id: 'file-input' %>
<label for="file-input" class="btn Group-button">Choose File</label>
        <span class="file-caption">No file chosen</span>

        <p class="mt-2">Select the type of file :</p>

        <%= radio_button_tag 'file_type', 'CFL' %>
        <%= label_tag :file_type_cfl, 'CFL' %><br>

        <%= radio_button_tag 'file_type', 'FA' %>
        <%= label_tag :file_type_fa, 'FA' %><br>

        <%= radio_button_tag 'file_type', 'grammar' %>
        <%= label_tag :file_type_grammar, 'Grammar' %><br>

        <%= radio_button_tag 'file_type', 'PDA' %>
        <%= label_tag :file_type_pda, 'PDA' %><br>

        <%= radio_button_tag 'file_type', 'Regular' %>
        <%= label_tag :file_type_regular, 'Regular' %><br>

        <%= radio_button_tag 'file_type', 'TM' %>
        <%= label_tag :file_type_tm, 'Turing Machine' %><br>

        <%= radio_button_tag 'file_type', 'NFAtoDFA' %>
        <%= label_tag :file_type_nfa_to_dfa, 'NFA to DFA' %><br>

        <%= submit_tag 'Upload' ,class:"btn uplaod-button"%>
      <% end %>
    </div>
  </div>
</div>

<script>
document.getElementById('file-input').addEventListener('change', function() {
  var fileName = this.value.split('\\').pop();
  var fileCaption = document.querySelector('.file-caption');
  if (fileName) {
    fileCaption.innerHTML = fileName;
  } else {
    fileCaption.innerHTML = 'No file chosen';
  }
});
</script>
</body>
</html>