<h1>New Group</h1>

<%= form_with model: @group, url: groups_path do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :description %>
  <%= form.text_area :description %>

 <%= form.radio_button :public, true, checked: true %>
  <%= form.label :public, 'Public' %>

  <%= form.radio_button :public, false %>
  <%= form.label :public, 'Private' %>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <%= form.submit 'Create Group' %>
<% end %>
