<!DOCTYPE html>
<html lang="en">
  <head>
<%= stylesheet_link_tag 'groups' %>
  </head>
  <body>
  <div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-10">
    <div class="row mt-5 mb-5 text-center">
  <div class="col-4">
    <%= link_to 'View Dashboard', group_dashboard_path(@group),class:"btn Group-button" %>
    </div>
    <%if current_user.id==@group.user_id%>
 
    <div class="col-4">
     <%= link_to "Waiting List", group_waitingList_path(@group),class:" btn Group-button" %>
    </div>

      <%end %>


<% if current_user.id == @group.user_id %>
<div class="col-4">
  <%= button_tag "Add Exercises", type: "button", class: "btn Group-button", data: { bs_toggle: "modal", bs_target: "#exampleModal" } %>
      </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 profile" id="exampleModalLabel">Add Exercises</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= form_with(model: @task, url: group_tasks_path(@group), local: true,class:"Group-form") do |form| %>
            <div class="form-group">
              <%= form.label :exercise_ids %>
              <%= form.text_area :exercise_ids, class: 'form-control', rows: 5, placeholder: "Exercise IDs separated by new line" %>
            </div>

           
        </div>
        <div class="modal-footer justify-content-center">
           <%= form.submit 'Add Exercises', class: 'btn Group-button' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

<% end %>


</div>



<div class="row  mt-5 mb-5 ">
  <div class="col-4">
    <label class="group-label">Group Name</label>
  </div>
  <div class="col-8">
    <h3 class="Group-name"><%= @group.title %></h3>
  </div>
</div>

<div class="row   mt-5">
  <div class="col-4">
    <label class="group-label mb-3">Description</label>
  </div>
  <div class="col-8">
    <p class="Group-discription mb-3"><%= @group.description %></p>
  </div>
</div>




<h2 class="Group-name mt-5 mb-5">Exercises</h2>  



 
<table class="table table-striped">
  <thead class="table_head"> 
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">Name</th>
      <th class="text-center">Type</th>
      <th class="text-center">Has Submission</th>
    </tr>
  </thead>
  <tbody>
    <% @group.tasks.each do |task| %>
      <tr>
        <td><%= task.exercise.id %></td>
        <td><%= link_to truncate(task.exercise.title, length: 20, omission: '...'), exercise_path(task.exercise),class:"badge" %></td>
        <td><%= task.exercise.exercise_type %></td>
        <td>
          <% if current_user.has_submission?(task.exercise) %>
            Yes
          <% else %>
            No
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


</body>
</html>