<h1><%= @group.title %></h1>
<p><%= @group.description %></p>

<h2>Members</h2>
<ul>
  <% @members.each do |member| %>
    <li><%= member.user.first_name.to_s + " " + member.user.last_name.to_s %></li>
  <% end %>
</ul>

<h2>Add Member</h2>
<%= form_with url: group_members_path(@group) do |form| %>
  <%= form.collection_select :user_id, User.all, :id, :email %>
    <% if User.any? %>
    <%= form.submit "Add Member" %>
  <% else %>
    <p>No Users available.</p>
    <%= form.submit "Add Member", disabled: true %>
  <% end %>
<% end %>



<h2>Exercises</h2>
<ul>
  <% @group.tasks.each do |task| %>
    <li><%= task.exercise.title %></li>
  <% end %>
</ul>

<h2>Add Exercise</h2>
<%= form_with(model: @task, url: group_tasks_path(@group), local: true) do |form| %>
  <%= form.label :exercise_id %>
  <%= form.collection_select :exercise_id, Exercise.all, :id, :title %>

  <% if Exercise.any? %>
    <%= form.submit "Add Exercise" %>
  <% else %>
    <p>No exercises available.</p>
    <%= form.submit "Add Exercise", disabled: true %>
  <% end %>
<% end %>


