<!DOCTYPE html>
<html lang="en">
  <head>
      <%= stylesheet_link_tag "tables" %>

  </head>
  <body>
   <h1 class="text-center heading mt-5 mb-5">My Groups</h1>


 <div class="table-responsive mt-3">
    <table  id="table" class="table table-striped">
     <thead class="table_head">
    <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Title</th>
          <th class="text-center">Description</th>
          <th class="text-center">Type</th>
          <th class="text-center">Created By</th>
          <th class="text-center">Created At</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
            <tr>
            <td><%= group.id%></td>
            <td> <%= link_to group.title, group_path(group),class:"badge" %></td>
            <td><%= group.description%></td>
            <%if group.public%>
            <td>public</td>
            <%else%>
             <td>Private</td>
             <%end %>
            <td><%= group.user.email%></td>
            <td><%= group.created_at%></td>
          </tr>
        <% end %>
        
      </tbody>
    </table>
  </div>
</div>

</body>
</html>