
<%=render "index_navbar"%>
<h1 style="color: black;">MY Groups</h1>


<%= link_to "new group" , new_group_path%>





 <table>
      <thead >
        <tr>
          <th >ID</th>
          <th >title</th>
          <th >Description</th>
          <th>#<th>
          <th>Created By</th>
          <th >Created At</th>
      
          
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
        
            <tr>
            <td><%= group.id%></td>
            <td> <%= link_to group.title, group_path(group) %></td>
            <td><%= group.description%></td>
            <%if group.public%>
            <td>public</td>
            <%else%>
             <td>Private</td>
             <%end %>
            <td><%= group.user.email%></td>
            <td><%= group.created_at%></td>
          </tr>
        <% end %>
        
      </tbody>
    </table>
  </div>
</div>