<!DOCTYPE html>
<html lang="en">
  <head>
       <%# <%= stylesheet_link_tag "tables" %> 
<%= stylesheet_link_tag 'groups' %>

  </head>
  <body>


<h1 class="heading mt-5 mb-5">Waiting List</h1>

<% if @group.waitingList.any? %>
  <table class="table table-striped">
    <thead class="table_head">
      <tr>
        <th class="text-center">User</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @group.waitingList.each do |waiting_list_entry| %>
        <tr>
          <td><%= waiting_list_entry.user.email %></td>
          <td>
             <%= form_with(url: group_members_path(@group), method: :post, html: { class: "waiting-table" }) do %>
              <%= hidden_field_tag 'member[emails]', waiting_list_entry.user.email %>
              <%= submit_tag "Add to Members", class: "btn" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="waiting-caption">No users are currently waiting to join this group.</p>
<% end %>
</body>
</html>