<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag "nav" %>
 
  </head>
  <body>
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <%= link_to "OpenFLAP", root_path, class: "navbar-brand ps-1" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%# check if log in %>
      <% if user_signed_in? %>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
             <li class="nav-item">
            <%= link_to "Exercises", exercises_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                 <%= link_to "Editors", editor_path, class: "nav-link" %> 
            </li>
            <li class="nav-item">
                 <%= link_to "Groups", groups_path, class: "nav-link" %> 
            </li>
            <li class="nav-item">
                 <%= link_to "Profile", users_profiles_show_path, class: "nav-link " %> 
            </li>
          </ul>
             <ul class="navbar-nav ms-auto">
              <%= link_to "Logout",users_sign_out_path, method: :delete, class: "btn d-block" %>
             </ul>
          <% else %>

          <%# if not log in %>

          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link " %>
            </li>
            <li class="nav-item">
                 <%= link_to "Editors", editor_path, class: "nav-link " %> 
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <%= link_to "Log In", new_user_session_path, class: "btn  button " %>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn " %>
          </ul>
          <% end %>
      </div>
      </div>
    </nav>


  </body>
</html>