<!DOCTYPE html>
<html lang="en">
  <head>
      <%= stylesheet_link_tag "tables" %>
  </head>
  <body>


<h1 class="heading text-center mt-5">Submissions</h1>

<div class="container-fluid mt-5 mb-4">
<div class="table-responsive">
  <table id="table" class="table table-striped">
    <thead class="table_head">
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Link</th>
        <th class="text-center">Solved by</th>
        <th class="text-center">Grade</th>
        <th class="text-center">Submitted At</th>
      </tr>
    </thead>
    <tbody>
      <% @submission_links.each do |submission_link| %>
        <tr>
          <td><%= submission_link[:id] %></td>
          <td><%= link_to 'Show Solution', submission_link[:url],class:"links"%></td>
          <td><%= submission_link[:user_email]%></td>
          <td><%= submission_link[:grade] %></td>
          <td><%= submission_link[:created_at] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>


<script>
  $(document).ready(function () {
    $('#table').DataTable({
      // Disable the searching 
      // of the DataTable
      searching: false
    });
  });
</script>

</body>
</html>