

<table>
  <thead>
    <tr>
      <th>ID</th>
        <th>Exercise</th>
      <th>Link</th>
        
      <th>Grade</th>
      <th>Submited At</th>
    </tr>
  </thead>
  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.id %></td>
        <td><%= link_to submission.exercise.title, exercise_path(submission.exercise) %></td>
        <td><%= link_to "Show Solution", submission_path(submission) %></td>
       
        
        <td><%= submission.grade %></td>
        <td><%= submission.created_at%></td>
      </tr>
    <% end %>
  </tbody>
</table>


