
<!DOCTYPE html>
<html lang="en">
  <head>
      <%= stylesheet_link_tag "tables" %>

  </head>
  <body>
<div class="container-fluid mt-4">
  <h1 class="text-center heading">My Submissions</h1>

<div class="table-responsive">
  <table id="table" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Exercise</th>
        <th>Link</th>
        <th>Grade</th>
        <th>Submitted At</th>
      </tr>
    </thead>
    <tbody>
      <% @submissions.each do |submission| %>
        <tr>
          <td><%= submission.id %></td>
          <td><%= link_to submission.exercise.title, exercise_path(submission.exercise) %></td>
          <td><%= link_to "Show Solution", submission_path(submission) %></td>
          <td><%= submission.grade %></td>
          <td><%= submission.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
<script>
 $(document).ready(function () {
    $('#table').DataTable({
      // Disable the searching 
      // of the DataTable
      searching: false
    });
  });
</script>

</body>
</html>