<!DOCTYPE html>
<html lang="en">
  <head>
      <%= stylesheet_link_tag "tables" %>

  </head>
  <body>

<h1 class="heading text-center mt-5">My Submissions</h1>

<div class="container-fluid mt-5 mb-4">
<div class="table-responsive">
  <table id="table" class="table table-striped">
    <thead class="table_head">
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Exercise</th>
        <th class="text-center">Link</th>
        <th class="text-center">Grade</th>
        <th class="text-center">Submitted At</th>
      </tr>
    </thead>
    <tbody>
      <% @submissions.each do |submission| %>
        <tr>
          <td><%= submission.id %></td>

          <td><%= link_to submission.exercise.title.slice(0, 20) + (submission.exercise.title.length > 20 ? '...' : ''), exercise_path(submission.exercise),class:"links" %></td>
          <td><%= link_to "Show Solution", submission_path(submission),class:"links" %></td>
          <td><%= submission.grade %></td>
          <td><%= submission.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>

<script>
 $(document).ready(function () {
    $('#table').DataTable({
      // Disable the searching 
      // of the DataTable
      searching: false
    });
  });
</script>

</body>
</html>