<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag "logs.css" %>
</head>
<body class="log">
<div class="container mb-3">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-9 col-sm-12">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
           <% if flash[:alert].present? %>
          <p class="alert alert-warning text-center"><%= flash[:alert] %></p>
        <% end %>
           <h2 class="text-center mb-5">Log in</h2>

        <div class="form-group mb-3">
          <%= f.label :email,class: "text-right"  %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mt-2" %>
        </div>

        <div class="form-group mb-1">
          <%= f.label :password, class: "text-right" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group">
              <div class="checkbox">
                <label>
                  <%= f.check_box :remember_me,class: "form-check-input"  %>
                  <%= f.label :remember_me ,class: "form-check-label" %>
                </label>
              
            </div>
          </div>
        <% end %>

        <div class="form-group">
          
            <%= f.submit "Log in", class: "btn button mt-3" %>
          </div>
        
         <%= render "devise/shared/links" %>
      <% end %>

     
    </div>

</body>
</html>