<!DOCTYPE html>
<html lang="en">
  <head>
       <%= stylesheet_link_tag "tables" %>

  </head>
  <body>

  <h1 class="text-center heading mt-5 mb-5">All Exercises</h1>

<div class="container-fluid mt-5">
  <div class="table-responsive mt-5">
    <table id="table" class="table table-striped">
      <thead class="table_head">
        <tr>
         <th class="text-center">ID</th>
          <th class="text-center">Name</th>
          <th class="text-center">Type</th>
          <th class="text-center">Created By</th>
          <th class="text-center">Created At</th>
          <th class="text-center">Submissions</th>
        </tr>
      </thead>
      <tbody>
        <% @exercises.each do |exercise| %>
          <tr>
            <td><%= exercise.id%></td>
            <td><%= link_to exercise.title , exercise,class:"badge"%></td>
            <td><%= exercise.exercise_type%></td>
            <td><%= exercise.user.email%></td>
            <td><%= exercise.created_at%></td>
            <td><%= link_to Submission.where(exercise_id: exercise.id).count, exercise_submissions_path(exercise), class: "badge" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#table').DataTable({
      // Enable searching and set placeholder text
      searching: true,
      language: {
         search: "Search :",
        searchPlaceholder: "Type"
      }
    });
  });
</script>
</body>
</html>