<!DOCTYPE html>
<html lang="en">
  <head>
       <%= stylesheet_link_tag "tables" %>
  </head>
  <body>

 
  <h1 class="text-center heading mt-5">All Exercises</h1>
  
<div class="container-fluid mt-5 mb-5">
   <div class="row justify-content-center justify-content-md-end">
    <div class="col-md-1 col-auto">
      <%= content_tag :div, class: "dropdown" do  %>
        <%= button_tag "Type", type: "button", class: "btn btn dropdown-toggle m-1", data: { bs_toggle: "dropdown" }, aria: { expanded: "false" }  %>
        <%= content_tag :ul, class: "dropdown-menu dropdown-menu-right" do  %>
          <li><%= link_to "All Exercises", exercises_path, class: "dropdown-item"  %></li>
          <li><%= link_to "CLF Exercises", exercises_path(type: "CFL"), class: "dropdown-item"  %></li>
          <li><%= link_to "FA Exercises", exercises_path(type: "FA"), class: "dropdown-item" %> </li>
          <li><%= link_to "grammar Exercises", exercises_path(type: "grammar"), class: "dropdown-item"  %></li>
          <li><%= link_to "PDA Exercises", exercises_path(type: "PDA"), class: "dropdown-item"  %></li>
          <li><%= link_to "Regular Exercises", exercises_path(type: "Regular"), class: "dropdown-item"  %></li>
          <li><%= link_to "TM Exercises", exercises_path(type: "TM"), class: "dropdown-item" %></li>
        <% end %> 
      <% end  %>
    </div>
  </div>
  <div class="table-responsive">
    <table id="table" class="table table-striped">
      <thead class="table_head">
        <tr>
         <th class="text-center">ID</th>
          <th class="text-center">Name</th>
          <th class="text-center">Type</th>
          <th class="text-center">Created By</th>
          <th class="text-center">Created At</th>
          <th class="text-center">Submissions</th>
        </tr>
      </thead>
      <tbody>
        <% @exercises.each do |exercise| %>
          <tr>
            <td><%= exercise.id%></td>
          <td><%= link_to exercise.title.slice(0, 20) + (exercise.title.length > 20 ? '...' : ''), exercise, class: 'links' %></td>
            <td><%= exercise.exercise_type%></td>
            <td><%= exercise.user.email%></td>
            <td><%= exercise.created_at%></td>
            <td><%= link_to Submission.where(exercise_id: exercise.id).count, exercise_submissions_path(exercise), class: "links" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#table').DataTable({
      // Enable searching and set placeholder text
      searching: true,
      language: {
         search: "Search :",
        searchPlaceholder: "Type"
      }
    });
  });
</script>
</body>
</html>